{% extends 'layout/base.html' %}

{% block title %}Кафе Pizzburg{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card">
                  <img style="width: 80%;" src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/04918bd6-603f-46cf-a7e1-aaba0c004a32.jpg" class="card-img-top mt-3 align-self-center" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Кисло-сладкий цыпленок</h5>
                    <p class="card-text ">Цыпленок, томатный соус, моцарелла, кисло-сладкий соус</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="text-muted">от 265 сом</h4>
                        <a href="#" class="btn btn-sm btn-outline-primary">Выбрать</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}